
Backend/TodoAPI/TodoAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Backend/TodoAPI/TodoAPI/obj
Backend/TodoAPI/.vs/TodoAPI/v17/.suo
/Backend/TodoAPI/TodoAPI/bin
/Backend/TodoAPI/.vs
/Backend/TodoAPI/.vs
/Backend/TodoAPI/.vs
/Backend/TodoAPI/.vs
